@import url(media.css);
body {
     overflow-x: hidden;
}
.main-header .navbar {
    padding: 30px ;
    z-index: 999;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  margin-top: 5px;
  width: 35px;
  height: 7px;
  background-color: #00888d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.menu li{
    font-size: 20px;
    
}
.menu li a {
    color: #00888d;
}
.carousel {
    margin-top: -70px;
}
.item-title {
   margin-top: 22%;
   margin-left: 11%;
   z-index: 100;
}
    .item-title h2 {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 700;
        color: #00888d;
        text-transform: uppercase;
    }
    .item-title h2>span {
        border-top: 8px solid green;
    }
    .item-title p {
        font-size: 20px;
    }
    .item-title p:nth-child(3) {
        margin-bottom: 40px;
    }
        .button-def {
            border: 2px solid #00888d;
            padding: 7px 20px;
            text-transform: uppercase;
            color: #00888d;
        }
        .button-def:hover {
           background: #00888d; 
           color: #fff;
           text-decoration:none;
        }

.item-content {
    margin-left: -120px;
    z-index: 1;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: #00888d;
}
.glyphicon-chevron-left:before {
    content: "\e257";
}
.glyphicon-chevron-right:before {
    content: "\e258";
}
.carousel-control .glyphicon-chevron-right {
    margin-right: -90px;
}
.carousel-control .glyphicon-chevron-left {
    margin-left: -70px;
}
.carousel-indicators li {
     background: #6cd0d4;
}
.carousel-indicators li.active{
    background: #00888d;
}
.red-moon,
.asperiores,
.advantage,
.gallery,
.more,
.main-post,
.preference,
.preference-content {
    margin: 80px 0;
    text-align: center;
}
    h2.def {
        postion:relative;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #00888d;
    }
    h2.def:before {
        content: " ";
        position: absolute;
        width: 70px;
        height: 8px;
        background-color: #65ca58;
        top: 0;
        right: 47%;
    }
    h3.def {
        font-size: 20px;
        font-weight: 700;
        color: #00888d;
    }
    .red-moon img,
    .asperiores img,
    .advantage img {
        margin-top: 50px;
    }
    .red-moon-content {
        text-align: left;
        padding: 40px 15px;
    }
.asperios-content {
    postion: relative;
    margin-top: 40px;
    padding: 20px;
    padding-left: 0;
    margin-left: -30px;
}
    .asperios-content h4 {
        postion: relative;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .asperios-content h4:before {
        content: " ";
        position: absolute;
        width: 20px;
        height: 15px;
        right: 55%;
        top: 35px;
        background: url(../img/arrow.png) no-repeat;
    }
    .asperios-content p {
        font-size: 12px;
    }
.advantage h4 {
    text-transform: uppercase;
    font-size: 16px;
} 
    .advantage p {
        font-size: 12px;
    }

.gallery-btn {
    margin: 40px 20px ;
    padding: 12px 40px;

    text-transform: uppercase;
    color: #00888d;
    background-color: #f1f1f1;

    border: 3px solid transparent;
    border-radius: 55px;
    outline: none;

}
.gallery-btn:focus {
    border: 3px solid #00888d;
     background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
}
.more {
    padding: 140px 0;
    background: url(../img/parapa.jpg) no-repeat;
    background-size: cover;
}
.more h3, 
.main-post h3 {
    margin-bottom: 40px;
}
.img-post {
    background: #f1f1f1 url(../img/post.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    min-width: 570px;
}
.title-post {
    text-align: left;
    margin: 110px 0 85px 0;
    padding-left: 20px; 
    padding-right: 125px;
}
    .title-post h3 {
        font-size: 25px;
        font-weight: 700;
        color: #00888d; 
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .title-post p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .view-more {
        margin-top: 50px;
    }
.preference-index {
    margin-top: 70px;
    text-align: left;
}
    .preference-index img {
        float: left;
        padding-right: 30px;
        margin:0 0 60px 0;
    }
    .preference-index h3,
    .title-preference h3 {
        font-size: 20px;
        font-weight: 700;
        color: #00888d;
        text-transform: uppercase;
    }
    .preference-index a {
        text-decoration: underline;
    }
    .preference-index a:hover {
        color: #00888d;
        text-decoration: none;
    }
.preference-content h2{
    margin-bottom: 60px;
}
    .img-preference {
        background: #f1f1f1 url(../img/post.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        min-width: 445px;
        margin-bottom: 45px;
    }
    .title-preference {
        text-align: left;
        padding-left: 20px;
        padding-right: 48px;
        margin: 30px 0 45px 0;
    }
    .title-preference p {
        margin-bottom: 30px;
    }
    .title-preference a.button-def {
        padding: 12px 50px;
    }
.nav-footer .list-inline {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
    .nav-footer .list-inline li{
        padding: 15px;
        text-transform: uppercase;
    }
    .nav-footer .list-inline li a {
        font-size: 20px;
        color: #000;
    }
    .nav-footer .list-inline li a:hover {
        text-decoration: underline;
    }
.about-us li{
    padding: 15px 0 0 0 ;
    font-size: 20px;
    color: #00888d;
}
.list-unstyled li:first-child {
    margin-top: 40px;
}
.about-us .list-inline li {
   margin: 10px 10px 40px 10px;
}
.copy {
    border-top: 1px solid #000;
}
.copy p{
    padding: 5px 15px;
    font-size: 20px;
}